<p id="notice"><%= notice %></p>

<h1>Join a Group:</h1>

  <% @groups.each do |group| %>
    <%= link_to group.name, select_group_path(group), class: "btn btn-default", method: :post %>
  <% end %>



<h1>Listing Groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= group.location %> // <%= group.zip_code %></td>
        <td><%= link_to 'Show', group, class: "btn btn-default" %></td>
        <td><%= link_to 'Edit', edit_group_path(group), class: "btn btn-default" %></td>
        <td><%= link_to 'Destroy', group, class: "btn btn-default", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group', new_group_path, class: "btn btn-default" %>
