<% @restaurants.each do |r| %>
  <div class="restaurants">
  <%= "Name: #{r.name}" %><br>
  <%= "Price: #{r.price}" %><br>
  <%= "Rating: #{r.rating}" %><br>
  <%= "Type: #{r.types}" %><br>
  <%= "Vicinity: #{r.vicinity}" %><br>
  <%= "Last Visited: #{r.last_visited}" %><br>
  <%= link_to "Add To Wheel", add_restaurant_to_group_path(r), class: "btn btn-default", method: :post %><br><hr><br>
  </div>
<% end %>
<% if @restaurants.empty? %>
  <%= "No restaurants by that name were found in your area" %>
<% end %>