<p id="notice"><%= notice %></p>

<h1>Listing Restaurants</h1>

<table>
  <thead>
    <tr>
      <th style="width: 40%;">Name</th>
      <th style="width: 10%;">Price</th>
      <th style="width: 10%;">Distance</th>
      <th style="width: 10%;">Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.price %></td>
        <td><%= restaurant.distance %></td>
        <td><%= restaurant.rating %></td>
        <td><%= link_to 'Show', restaurant, class: "btn btn-default" %></td>
        <td><%= link_to 'Edit', edit_restaurant_path(restaurant), class: "btn btn-default" %></td>
        <td><%= link_to 'Destroy', restaurant, class: "btn btn-default", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Search Restaurants', search_for_restaurant_path, class: "btn btn-default" %>
<%= link_to 'Manually Add Restaurant Like An Idiot', new_restaurant_path, class: "btn btn-default" %>
<%= link_to 'Spin The Wheel', spin_the_wheel_path, class: "btn btn-default" %>

<%= link_to 'Geolocation Test', '#', class: 'geolocation-button btn btn-danger' %>
